/* big-small navbar */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* header */
.qodef-page-header {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  width: 100%;
  z-index: 99999999;
  opacity: 0;
  animation: opacity 1s forwards ease-in-out;
}
.scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
.scroll .bar {
  background: #15141c;
}
.scroll .qodef-page-header-inner {
  border-bottom-color: #15141c;
  border-bottom-width: 1px;
}
.qodef-page-header-inner {
  border-bottom-style: solid;
  padding: 0 45px;
  height: 90px;
}
.qodef-header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/*  logo for Header  */
.qodef-header-logo {
  position: absolute;
  left: 0;
}
/* icons in Navbar */
.icons {
  display: flex;
  width: 140px;
  justify-content: right;
}
/* icon contcat */
.icon {
  font-size: 25px;
  cursor: pointer;
  color: #15141c;
  transition: all 0.5s;
}
.icon:hover {
  color: #60a5fa;
  transform: scale(1.2);
}
/* contactBox */
.contactBox {
  background-color: #15141c;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 42%;
  will-change: transform, opacity;
}
/* Button Close */
.close {
  position: absolute;
  top: 10;
  right: 0rem;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #0d639d;
  width: 114px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
}
.close:hover .item {
  transform: translateX(0);
}
/* From Uiverse.io by javierBarroso */
.button {
  position: absolute;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}
.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}
.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}
.exit {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
.close:hover {
  background-color: #003151;
}
.button:hover > .exit {
  animation: close 0.2s forwards 0.25s;
}
.qoute
{
  font-size: 25px;
  cursor: pointer;
  color: #15141c;
  transition: all 0.5s;
  margin-right: 2rem;
}
.qoute:hover {
  color: #60a5fa;
  transform: scale(1.2);
}
.scroll .card
{
  display: none;
}
@keyframes close {
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1000px) {
  .qodef-header-logo {
    top: -0.5rem;
  }
  .qodef-nav-list {
    display: none;
  }
  .qodef-page-header-inner {
    padding: 2rem;
    height: auto;
    padding-bottom: 3.5rem;
  }
  .qoute,
  .icon{
    display: none;
  }
}

